flow.json
[
    {
        "id": "d038539115921282",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b59f1f6f56ecdbab",
        "type": "inject",
        "z": "d038539115921282",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "안녕하세요",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "d1b22c6a6d0e3420",
                "96de0edf565c2bf4",
                "a030713abf539763",
                "ad4cb3a5b3b9afbb"
            ]
        ]
    },
    {
        "id": "d1b22c6a6d0e3420",
        "type": "debug",
        "z": "d038539115921282",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "96de0edf565c2bf4",
        "type": "debug",
        "z": "d038539115921282",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "a030713abf539763",
        "type": "debug",
        "z": "d038539115921282",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "ad4cb3a5b3b9afbb",
        "type": "debug",
        "z": "d038539115921282",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 320,
        "wires": []
    }
]